<h2>Auto Resize Demo</h2>
<div id="autoresizer">
	<textarea id='autosize-example' placeholder='Try typing something...'></textarea>
	<textarea id="maas"></textarea>
</div>
<!--<script src='/autosize.min.js'></script>-->
<script>
    //autosize(document.getElementById('autosize-example'));
    //autosize(document.getElementById('maas'));
    autosize($('textarea'));
</script>

