
<!-- Fotorama -->
<div>
<div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%">
  <img src="/assets/ipl/0.jpg">
  <img src="/assets/ipl/1.jpg">
  <img src="/assets/ipl/2.jpg">
  <img src="/assets/ipl/3.jpg">
  <img src="/assets/ipl/4.jpg">
  <img src="/assets/ipl/5.jpg">
</div>

<div class="fotorama" data-width="500" data-ratio="500/367" data-max-width="100%">
  <img src="/assets/ipl/10.jpg">
  <img src="/assets/ipl/11.jpg">
  <img src="/assets/ipl/12.jpg">
  <img src="/assets/ipl/13.jpg">
  <img src="/assets/ipl/14.jpg">
  <img src="/assets/ipl/15.jpg">
</div>
</div>
<p>Photos</p>

