<div id="wrapper">
	<p>Sports based Social Web App</p>
	<div id="header" class="sticker">
		<p>Playfiks Software</p>
	</div>
	<p>This is the platform to schedule the event anywhere as well as anytime.</p>
</div>

<div id="header" class="stickerr">
	<p>Kottivakkam OMR Chennai 96</p>
</div>

<script>
    $(window).load(function(){
      $("#header").sticky({ topSpacing: 0, center:true, className:"hey" });
      $(".sticker").sticky({ topSpacing: 50 });
      $(".stickerr").sticky({ topSpacing: 150 });
    });
  </script>
  <style>
    body {
      height: 10000px;
      padding: 0;
      margin: 0;
    }

    #sticker {
      background: #bada55;
      color: white;
      width: 300px;
      font-family: Droid Sans;
      font-size: 40px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;
      padding: 20px;
      margin: 0 auto;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      border-radius: 50px;
    }

    #header {
      background: #bada55;
      color: white;
      font-family: Droid Sans;
      font-size: 18px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      width:100%;
      box-sizing:border-box;
    }

    #wrapper {
      width:700px;
      margin:0 auto;
    }

    #stickerr {
      background: #bada55;
      color: white;
      width: 300px;
      font-family: Droid Sans;
      font-size: 40px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;
      padding: 20px;
      margin: 0 auto;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      border-radius: 50px;
    }
  </style>